.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}
.App-logo-fade {
  height: 30vmin;
  pointer-events: none;
  transition-duration: 0.5s;
  opacity: 0;
}


.App-header {
  background-color: #6094AA;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}