body {
  overflow-y: scroll;

  margin:0 auto;
  background-color: #fff;
  font-family: 'Rubik Mono One', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration:none;
  color:#000;
}

button{
  cursor: pointer;
}
p{
  margin:0;
}