body {
  margin: 0 auto;
  background-color: #fff;
  font-family: 'Rubik Mono One', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration:none;
  color:#000;
}

button{
  cursor: pointer;
  font-family: 'Rubik Mono One', sans-serif;
  border: 0;
}
p{
  font-family: 'Rubik', sans-serif;
  margin:0;
  font-size: 1rem;
}
h1{
  font-family: 'Rubik Mono One', sans-serif;
  font-weight: normal;
  margin:0;
}

@media screen and (min-width: 600px) {
  body {
      margin-left: calc(100vw - 100%);
    }
}